*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #001e4d;
}


.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-weight: 700;
    font-size: 40px;
    color: #001e4d;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}


.quiz h2{
    font-size: 28px;
    font-weight: bold;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #001e4d;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    text-align: left;
    padding: 10px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}